@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
#navbar {
  background: linear-gradient(359.98deg, #EBF0FF 29.88%,#F6F8FF 232.62%);
  width: 100%;
  height: 5rem;
  border-bottom: 9px solid #3c579b;
  position: sticky; 
  top: 0;
}

#name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  background: linear-gradient(180deg, #3c579b 0%, #283556 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#header-item {
  color: #464646;
  margin: 0 1rem 0 3rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s ease-in-out ;
  display: flex;
}
#header-item:hover {
  transform: scale(1.07);
  color: #3c579b;

}
#items{
  display: flex;
}

#header{
  width: 100%;
  position: sticky;
  top: 0;
  z-index:1;
}

@media screen and (max-width: 780px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-item {
    margin: 0 1rem 0 1rem;
  }
  #name {
    font-size: 2rem;
  }
  #navbar {
    height: 5rem;
  }
}

@media  screen and (max-width: 590px) {
  #header-item {
    margin: 0 1rem 0 1rem;
    font-size: .8rem;
  }
  #name {
    font-size: 1.5rem;
  }
  
}
@media screen and (max-width: 400px) {
  #header-item {
    margin: 0 .5rem 0 .5rem;
    font-size: 0.8rem;
  }
  #name {
    font-size: 1.0rem;
  }

}
  
