* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff !important;
  padding-top: 0px;
  margin-top: 0px;
}
.backgroundp{
  background-color: #ffffff !important;
}
#header {
  margin: 0;
  padding: 0;
}

#mainContainer {
  display: flex;
}

.bigRectangle{
  left: 60px;
  bottom: 182px;
  /* animation: bigRectangleMove 14s ease-in-out infinite; */
  
}
@keyframes smallRectangleMove{
  50%{
    translate: 35px -30px;
    /* scale: 1.05; */
  }
}
.smallRectangle{
  left: 60px;
  bottom: 182px;
  animation: smallRectangleMove 14s cubic-bezier(.5,0,.45,1.2) infinite;
  animation-delay: 1s;
}
@keyframes smallRectangleTwoMove{
  50%{
    translate: 35px -30px;
  }
}
@keyframes smallRectangleThreeMove{
  50%{
    translate: 35px -30px;
  }
}
@keyframes smallRectangleFourMove{
  50%{
    translate: 35px -30px;
  }
}
.bigRectangleTwo{
  left: 93px;
  bottom: 212px;
  border-radius: 10px;
  background-color: #3C579B;
}
.smallRectangleTwo{
  left: 60px;
  bottom: 182px;
  animation: smallRectangleTwoMove 14s cubic-bezier(.5,0,.45,1.2) infinite;
  animation-delay: 2s;
}
.smallRectangleThree{
  left: 60px;
  bottom: 182px;
  animation: smallRectangleThreeMove 14s cubic-bezier(.5,0,.45,1.2) infinite;
  animation-delay: 3s;
}
.smallRectangleFour{
  left: 60px;
  bottom: 182px;
  animation: smallRectangleFourMove 14s cubic-bezier(.5,0,.45,1.2) infinite;
  animation-delay: 4s
}
@keyframes meMove{
  50%{
    translate: 6px -6px;
  }
}
.me{
  left: 100px;
  bottom: 220px;
  /* animation: meMove 14s ease-in-out infinite; */
  /* animation-delay: 1s; */
}
#imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 7rem; */
  width: 20rem;
  height: 23rem;
}
.stack{
  position: absolute;
}
#image {
  /* margin-left: 7rem; */
  margin-top: 7rem;
  width: 20rem;
  height: 23rem;
}
#text {
  margin-left: 7rem;
  margin-top: 3rem;
  width: auto;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}


.move {
  top: 10px;
}
#textBottom {
  font-size: 22px;
  margin-left: 7rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  width: auto;
  line-height: 183.5%;
}
@media screen and (max-width:1500){
  #mainContainer{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #textBottom{
    width: 800px;
  }
  #text{
    width: 800px;
  }
  
}
@media screen and (max-width: 1000px) {
  #mainContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #image {
    margin-left: 0rem;
    margin-top: 4rem;
    width: 20rem;
    height: 23rem;
  }
  #text {
    margin-left: 0rem;
    margin-top: 4rem;
    width: 55rem;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
  }
  #textBottom {
    font-size: 22px;
    margin-left: 0rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    width: auto;
    line-height: 183.5%;
  }
}
@media screen and (max-width: 580px) {
  #mainContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #image {
    margin-left: 0rem;
    margin-top: 4rem;
    width: 20rem;
    height: 23rem;
  }
  #text {
    width: 400px;
    margin-left: 0rem;
    margin-top: 4rem;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
  }
  #textBottom {
    font-size: 22px;
    margin-left: 0rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 183.5%;
  }
}
@media screen and (max-width: 400px) {
  #mainContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #image {
    margin-left: 0rem;
    margin-top: 4rem;
    width: 20rem;
    height: 23rem;
  }
  #text {
    width: 300px;
    margin-left: 0rem;
    margin-top: 4rem;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
  }
  #textBottom {
    font-size: 22px;
    margin-left: 0rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 183.5%;
  }
}
  

